body {
    font-family: "poppins", sans-serif;
}

h1 {
font-weight: 700;
}

.hero-text {
    max-width: 500px;
}

p {
    line-height: 1.7;
}

.navbarItem {
    font-size: 0.95rem;
}

a {
    color:black;
}

a:hover {
    color: #47e8d0;
}

.container {
    background: linear-gradient(135deg,#f0fffc, #e6f7f5);

}
.component{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:.5rem;
}

.component-icon{
    width:60px;
}

.sums-rotate{

    width:220px;
    height:220px;

    margin:auto;

    border-radius:50%;

    background:#58d7c4;

    display:flex;
    justify-content:center;
    align-items:center;
}

